<!DOCTYPE html>
<html ng-app="musicApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>.hovering { background: #e0e0e0; }</style>
</head>
<body ng-controller="MusicController">
    <h1>Music Player</h1>

    <input type="text" ng-model="search" placeholder="Search..." 
           ng-focus="status='Searching...'" ng-blur="status='Ready'">
    <p>Status: {{status}}</p>

    <div ng-repeat="song in songs | filter:search" 
         ng-mouseenter="isOver=true" ng-mouseleave="isOver=false"
         ng-class="{'hovering': isOver}" style="padding:10px; border:1px solid #ccc">
        
        {{song.title}} - {{song.artist}}
        
        <button ng-click="play(song.title)">Play</button>
    </div>
    <br><a href="lab6.html">Next Lab Exercise</a>

    <script>
        // 5: ng-app module
        var app = angular.module('musicApp', []);
        app.controller('MusicController', function($scope, $http) {
            $scope.status = "Ready";
            $http.get('playlist.json').then(function(res) { $scope.songs = res.data; });
            $scope.play = function(t) { alert("Playing: " + t); };
        });
    </script>
</body>
</html>